<h2>REQUEST FOR EVENTS PLACE RENTAL</h2>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<h3 id="refNumLabel">Reference Number: <span id="refNumText">{{ details.refNum }}</span></h3>
			<div id="appDetails">
				<p>Applicant Name: <span id="appName">{{ details.name }}</span></p>
				<p>Mobile Number: <span id="appMobile">{{ details.mobile }}</span></p>
				<p>Email: <span id="appEmail">{{ details.email }}</span></p>
				<hr>
				<h4>Documents</h4>
				<div class="row">
					{% if details.docs is not null %}
						{% for d in details.docs %}
							<div class="col-md-6">
								<a href="http://leasing.dmcihomes.com.local/secured/uploads/events/{{ d }}" target="_blank" class="thumbnail">
									<img src="http://leasing.dmcihomes.com.local/secured/uploads/events/{{ d }}" alt="">
								</a>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<h3 id="reqStatus">Request Status: <span id="reqStatusText">{{ details.reqStatus|upper }}</span></h3>
			<div id="appDetails">
				<p>Events Place: <span id="appDet1">{{ details.eventPlace }}</span></p>
				<p>Event Date: <span id="appDet2">{{ details.eventDate|date('M d, Y') }}</span></p>
				<p>Event Time: <span id="appDet3">{{ details.eventTime }}</span></p>
			</div>
			{% if details.payment is not empty %}
				{% set waf = (details.payment.rentalCost * 0.04) + 15 %}
				<div id="paymentDetails">
					<hr>
					<h4>Payment Details</h4>
					<p>Venue Rental Cost:<span id="pdText1">Php {{ details.payment.rentalCost|number_format(2, '.', ',') }}</span></p>
					<p>Reservation Fee:  <span id="pdText2">Php {{ details.payment.payable|number_format(2, '.', ',') }}</span></p>
					<p>Security Deposit: <span id="pdText2">Php {{ details.payment.payable|number_format(2, '.', ',') }}</span></p>
					<p>Web Admin Fee: <span id="pdText3">Php {{ waf|number_format(2, '.', ',') }}</span></p>
					<p>Total Payable: <span id="pdText4">Php {{ (details.payment.payable + waf)|number_format(2, '.', ',') }}</span></p>
					
					<a href="" class="btn btn-lg ctaOrange" id="payNow">PAY NOW</a>
				</div>
			{% endif %}
		</div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $('#payNow').click(function(e) {
    	e.preventDefault();
    	
    	var key = "36cc3e3b641fae24903a0558b12f057c0210a0c9104b2fc0221656050acf76b3c4ad2364ba8a87e253c671d1a5cafb4547dbe0164cd70f06a804ca583d203bd7";

    	$.ajax({
    		url: "/secured/payment/checkout",
    		type: "POST",
    		data: {
    			web_service_key: key
    		},
    		success: function(data) {
    			console.log(data);
    		}
    	});
    });
</script>