<h2>PARKING SPACE RENTAL APPLICATION</h2>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<h3 id="refNumLabel">Reference Number: <span id="refNumText">{{ details.refNum }}</span></h3>
			<div id="appDetails">
				<p>Applicant Name: <span id="appName">{{ details.name }}</span></p>
				<p>Mobile Number: <span id="appMobile">{{ details.mobile }}</span></p>
				<p>Email: <span id="appEmail">{{ details.email }}</span></p>
				<hr>
				<h4>Documents</h4>
				<div class="row">
					{% if details.docs is not null %}
						{% for d in details.docs %}
							<div class="col-md-6 col-sm-6 col-xs-6">
								<a href="http://leasing.dmcihomes.com.local/secured/uploads/parking/{{ d }}" target="_blank" class="thumbnail">
									<img src="http://leasing.dmcihomes.com.local/secured/uploads/parking/{{ d }}" alt="">
								</a>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<h3 id="reqStatus">Request Status: <span id="reqStatusText">{{ details.reqStatus|upper }}</span></h3>
			<div id="appDetails">
				<p>Property: <span id="appDet1">{{ details.property }}</span></p>
				<p>Unit: <span id="appDet2">{{ details.unit }}</span></p>
				<p>Number of Slots: <span id="appDet3">{{ details.slots }} Slot{% if details.slots > 1 %}s{% endif %}</span></p>
				<p>
					Payment Terms: 
					<span id="appDet3">
						{{ details.paymentTerms }} - 
						{% if details.paymentType == 1 %}
							Straight Payment
						{% elseif details.paymentType == 2 %}
							Monthly Payment
						{% endif %}
					</span>
				</p>
			</div>
			{% if details.payment is not empty %}
				{% set waf = (details.payment.totalCost * 0.04) + 15 %}
				<div id="paymentDetails">
					<hr>
					<h4>Payment Details</h4>
					<p>Monthly Cost:<span id="pdText1">Php {{ details.payment.monthlyCost|number_format(2, '.', ',') }}</span></p>
					<p>Period: <span id="pdText2">{{ details.payment.period }} Months</span></p>

					{% if details.paymentType == 1 %}

						<p>Subtotal: <span id="pdText2">Php {{ details.payment.totalCost|number_format(2, '.', ',') }}</span></p>
						<p>Web Admin Fee: <span id="pdText3">Php {{ waf|number_format(2, '.', ',') }}</span></p>
						<p>Total Payable: <span id="pdText4">Php {{ (details.payment.totalCost + waf)|number_format(2, '.', ',') }}</span></p>

						<a href="" class="btn btn-lg ctaOrange" id="payNow">PAY NOW</a>

					{% else %}

						<p>Total: <span id="pdText2">Php {{ details.payment.totalCost|number_format(2, '.', ',') }}</span></p>
						<p>Monthly Payment: <span id="pdText4">Php {{ (details.payment.totalCost / details.payment.period)|number_format(2, '.', ',') }}</span></p>

						<a href="tel:6324037368" class="btn btn-lg ctaOrange" id="callLeasing">CALL DMCI LEASING</a>

					{% endif %}
				</div>
			{% endif %}
		</div>
	</div>